<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.floatingmuseum.androidtest">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ViewActivity" />
        <activity android:name=".functions.FunctionsActivity" />
        <activity android:name=".thirdpartys.ThirdPartiesActivity" />
        <activity android:name=".views.tags.TagsActivity" />
        <activity android:name=".functions.autoinstall.AutoInstallActivity" />
        <activity android:name=".functions.shell.ShellActivity" />
        <activity android:name=".functions.qr.QRCodeActivity" />
        <activity android:name=".functions.catchtime.CatchTimeActivity" />
        <activity android:name=".functions.download.DownloadListActivity" />
        <activity android:name=".functions.download.DownloadActivity"/>
        <activity
            android:name=".functions.camera.CameraActivity"
            android:theme="@style/ThemeFullscreen" />
        <activity android:name=".functions.exception.ExceptionActivity" />
        <activity android:name=".functions.analysesystem.AnalyseSystemActivity" />

        <service
            android:name=".functions.autoinstall.AutoInstallService"
            android:label="Floatingmuseum的智能安装"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/auto_install_service" />
            <!--
        创建一个Service类集成AccessibilityService来处理接收到的事件
        label:是你在系统设置辅助功能中显示的名称。
        resource：指向你配置的xml文件。
        其他都是固定的。
-->
        </service>


        <service android:name=".functions.download.DownloadService" />

        <receiver android:name=".functions.catchtime.SystemShutAndBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

    </application>

</manifest>