<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.floatingmuseum.androidtest">

    <!-- <uses-sdk -->
    <!-- android:minSdkVersion="19" -->
    <!-- android:targetSdkVersion="25" -->
    <!-- tools:overrideLibrary="floatingmuseum.sonic" /> -->
    <!-- 相机 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 记录声音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 写sd权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读sd权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- WIFI -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- 应用使用情况 -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Required for Nearby Connections API -->
        <meta-data
            android:name="com.google.android.gms.nearby.connection.SERVICE_ID"
            android:value="@string/floating_museum_service_id" />
        <!-- Required for Nearby Messages API -->
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyA0KKhQGbPFHTsqz4FtYyJ12lCFRR-qk00" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ViewActivity" />
        <activity android:name=".functions.FunctionsActivity" />
        <activity android:name=".thirdpartys.ThirdPartiesActivity" />
        <activity android:name=".views.tags.TagsActivity" />
        <activity android:name=".functions.autoinstall.AutoInstallActivity" />
        <activity android:name=".functions.shell.ShellActivity" />
        <activity android:name=".functions.qr.QRCodeActivity" />
        <activity android:name=".functions.catchtime.CatchTimeActivity" />
        <activity android:name=".functions.download.DownloadListActivity" />
        <activity
            android:name=".functions.camera.CameraActivity"
            android:theme="@style/ThemeFullscreen" />
        <activity android:name=".functions.exception.ExceptionActivity" />
        <activity android:name=".functions.analysesystem.AnalyseSystemActivity" />
        <activity android:name=".functions.communicate.CommunicateActivity" />
        <activity android:name=".functions.bluetooth.BluetoothActivity" />
        <activity android:name=".functions.hotspot.HotSpotActivity" />
        <activity android:name=".functions.hotspot.ServerActivity" />
        <activity android:name=".functions.hotspot.ClientActivity" />
        <activity android:name=".functions.socket.SocketActivity" />
        <activity android:name=".functions.messages.MessagesActivity" />
        <activity android:name=".views.simple.SimpleViewActivity" />
        <activity android:name=".functions.launcher.LauncherCheckActivity" />
        <activity android:name=".functions.threads.ThreadActivity" />
        <activity android:name=".functions.phoenixservice.PhoenixActivity" />
        <activity android:name=".functions.jobschedulertest.JobSchedulerActivity" />
        <activity android:name=".functions.wifilist.WiFiListActivity" />
        <activity android:name=".functions.getcolor.GetSystemColorActivity"/>
        <activity android:name=".functions.aidl.AidlActivity"/>
        <activity android:name=".functions.otherprocess.OtherProcessActivity"/>
        <!--<activity android:name=".functions.media.MediaActivity"/>-->
        <!-- <activity android:name=".functions.nsd.NsdChatActivity"/> -->
        <!-- <activity android:name=".functions.nsd.NsdActivity"/> -->
        <!-- <activity android:name=".functions.nsd.NsdServerActivity"/> -->
        <!-- <activity android:name=".functions.nsd.NsdClientActivity"/> -->

        <service android:name=".functions.catchtime.CatchTimeService" />
        <service
            android:name=".functions.autoinstall.AutoInstallService"
            android:label="Floatingmuseum的智能安装"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/auto_install_service" />
            <!--
        创建一个Service类集成AccessibilityService来处理接收到的事件
        label:是你在系统设置辅助功能中显示的名称。
        resource：指向你配置的xml文件。
        其他都是固定的。
            -->
        </service>
        <service
            android:name=".functions.catchtime.CatchTimeAccessibilityService"
            android:label="Floatingmuseum的应用时间统计"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/catch_time_service" />
            <!--
        创建一个Service类集成AccessibilityService来处理接收到的事件
        label:是你在系统设置辅助功能中显示的名称。
        resource：指向你配置的xml文件。
        其他都是固定的。
            -->
        </service>
        <service android:name=".functions.launcher.LauncherCheckService" />
        <service android:name=".functions.phoenixservice.PhoenixService" />
        <service
            android:name=".functions.jobschedulertest.NetService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".functions.aidl.AidlService"/>
        <service android:name=".functions.otherprocess.OtherProcessService"
            android:process=":remoteMuseum"
            android:exported="true"/>


        <receiver android:name=".functions.catchtime.SystemShutAndBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>